<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'homepage'}}">
            <img src="/images/pong.png" class="brand-image">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="{{ activeIfTemplateIs 'log' }}">
              <a href="#" id="log_a_game">
                <b>Log a match</b>
              </a>
            </li>
            <li class="{{ activeIfTemplateIs 'leaderboard' }}">
              <a href="{{pathFor 'leaderboard'}}">
                Top 50
              </a>
            </li>
            <li class="{{ activeIfTemplateIs 'players' }}">
              <a href="{{pathFor 'players'}}">Players</a>
            </li>
            <li class="{{ activeIfTemplateIs 'matches' }}">
              <a href="{{pathFor 'matches'}}">Matches</a>
            </li>
            {{#if currentUser}}
              <li class="dropdown">
                {{> notifications}}
              </li>
            {{/if}}
            {{#if isInRole 'admin' }}
              <li class="{{ activeIfTemplateIs 'administrative' }}">
                <a href="{{pathFor 'administrative'}}">Admin</a>
              </li>
            {{/if}}
            {{#if currentUser}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"> 
                  <img src="{{currentUser.profile.profilePicture}}" class="img-circle user-navbar-img"> 
                  {{currentUser.profile.name}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{pathFor 'player' _id=currentUser._id}}">My Account</a></li>
                  <li class="divider"></li>
                  <li><a href="" id="signout_button">Logout</a></li>
                </ul>
              </li>
            {{else}}
              <li>
                <a href="{{pathFor 'login'}}">Login/Signup</a>
              </li>
            {{/if}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </nav>
</template>